body {
    font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.menu-strip{
	height: 60px;
	text-align: left;
}
.menu{
	display:inline-block;
	margin-left: 120px;
	margin-top: 15px;
}
.home-image{
	height: 30px;
	float: left;
	margin-right: 15px;
}
.vertical-line{
	background-color:#9a9a9a;
	height: 20px;
	width: 1px;
	margin-top: 3px;
	margin-right: 20px;
	float: left;
}
.menu-item{
	float: left;
	margin-top: 4px;
	margin-right: 40px;
	font-size: 18px;
}
.top-section{
	height: 450px;
	text-align: center;
	background:url('city_buildings.png'); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.top-main-text{
	color: #fff;
	font-size: 65px;
	padding-top: 150px;
}
.top-sub-text{
	color: #fff;
	font-size: 40px;
	padding-top: 25px;
}
.dot-holder{
	padding-top: 40px;
	text-align: center;
	display: inline-block;
}
.dot{
	float:left;	
	margin: 10px;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background-color: #fff;
	
}
.welcome-text-box{
/*	display: inline-block;*/
	text-align: center;
	margin-top: 70px;
}
.welcome-text{
	display: inline-block;
	color: #32313c;
	font-size: 25px;
	width: 800px;
	text-align: center;
}
.learn-more{
	text-align: center;
	margin-top: 40px;
}
.learn-more-btn{
	display: inline-block;
	background-color: #020202;
	color: #fff;	
	width: 200px;
	height: 60px;
	line-height: 3.4;
	font-size: 18px;
}
.divider{
	margin-top: 60px;
	width: 1000px;
	height: 3px;
	background-color: #e6e6e6;
	display: inline-block;
}
.middle-heading{
	color: #020202;
	font-size: 50px;
	padding-top: 40px;
}
.story-box-holder{
	display: inline-block;
	margin-top: 50px;
	width: 900px;
	text-align: center;
}
.story-box{
	display: inline-block;
	text-align: center;
	width: 295px;
	vertical-align: top;
}
.story-date{
	font-size: 12px;
}
.middle-title{
	margin-top: 5px;
	font-size: 22px;
	font-weight: bold;
}
.story-subtitle{
	margin-top: 5px;
	font-size: 13px;
}
.story-image-box{
	margin-top: 25px;
}
.story-image{
	width: 290px;
}
#story-image-1{
	margin-top: 8px;
}
.story-text{
	font-size: 13px;
	padding: 20px;
}
.story-read-more{
	font-size: 13px;
}
.load-more-btn{
	display: inline-block;
	color: #252525;	
	width: 72px;
	height: 22px;
	line-height: 1.7;
	font-size: 13px;
	border: 1px solid #000;
}
.happening-box{
	display: inline-block;
	margin-top: 60px;
}
.divider-blue{
	margin-top: 15px;
	width: 100%;
	height: 4px;
	background-color: #71a4d5;
	display: inline-block;
}
.microblog{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.post-box{
	margin-top: 20px;
}
.post-image-box{
	float: left;
	padding: 8px;
}
.post-image{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.post-text-box{
	float: left;
	padding: 8px;
	width: 200px;
}
.post-text-name{
	text-align: left;
}
.post-text-buttons{
	float: left;
}
.post-text-share-btn-holder{
	float: left;
}
.post-text-share-btn{
}
.post-text-share-btn-image{
	width: 30px;
}
.post-text-share-btn-text{
	float: left;
}
.post-text-arrow-btn{
}
.post-text-time{
	text-align: left;
}
.post-text-text{
	margin-top: 15px;
	text-align: left;
}
.post-text-reply-btn-box{
	text-align: left;
	margin-top: 25px;
}
.post-text-reply-btn{
	text-align: center;
	display: inline-block;
	color: #71a4d5;	
	width: 60px;
	height: 22px;
	line-height: 1.7;
	font-size: 13px;
	border: 1px solid #dbdbdb;
	
}
.divider-post{
	margin-top: 15px;
	width: 100%;
	height: 1px;
	background-color: #cccccc;
	display: inline-block;
}
.post-text-load-more{
	text-align: right;
	margin-top: 10px;
}
.discussion{
	display: inline-block;
	text-align: left;
    vertical-align: top;
}

.forums-box{
	margin-top: 20px;
}
.forums-image-box{
	float: left;
	padding: 8px;
}
.forums-image{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.forums-text-box{
	float: left;
	padding: 8px;
}
.forums-text-upper{
	width: 350px;
}
.forums-type-btn-box{
	float: left;
	display: inline-block;
}
.forums-type-btn{
	text-align: center;
	display: inline-block;
	background-color: #71a4d5;
	color: #fff;	
	width: 80px;
	height: 22px;
	line-height: 1.7;
	font-size: 13px;
}
.forums-title{
	float: left;
	margin-left: 8px;
	padding-top: 3px;
	display: inline-block;
	color: #71a4d5;
	font-size: 17px;
    font-weight: bold;
}
.forums-text-lower{
}
.forums-text-name{
	float: left;
	display: inline-block;
}
.dash{
	float: left;
	display: inline-block;
}
.replies-text-name{
	float: left;
	display: inline-block;
}
.time-text-name{
	float: left;
	display: inline-block;
}
.forums-like-btn-box{
	float: right;
	display: inline-block;
}
.forums-like-btn{
}
.divider-forums{

}
.activity{
	display: inline-block;
	vertical-align: top;
}